<div class="fixed inset-y-0 left-0 flex items-center justify-center" id="steper">
    <!-- Vertical Stepper -->
    <div class="relative flex flex-col space-y-8 ml-4">
      
      <!-- Step 1: About Me Icon -->
      <div class="group relative" (click)="scrollToSection('AboutMe')">
        <div class="flex items-center justify-center w-12 h-12 bg-red-600 opacity-50 scale-90 rounded-full transition-all duration-300 group-hover:opacity-100 group-hover:scale-110 cursor-pointer">
          <i class="fas fa-user text-white text-2xl"></i>
        </div>
      </div>
      
      <!-- Step 2: Education Icon -->
      <div class="group relative" (click)="scrollToSection('education')">
        <div class="flex items-center justify-center w-12 h-12 bg-red-600 opacity-50 scale-90 rounded-full transition-all duration-300 group-hover:opacity-100 group-hover:scale-110 cursor-pointer">
          <i class="fas fa-graduation-cap text-white text-2xl"></i>
        </div>
      </div>
      
      <!-- Step 3: Hobbies Icon -->
      <div class="group relative" (click)="scrollToSection('hobbies')">
        <div class="flex items-center justify-center w-12 h-12 bg-red-600 opacity-50 scale-90 rounded-full transition-all duration-300 group-hover:opacity-100 group-hover:scale-110 cursor-pointer">
          <i class="fas fa-football-ball text-white text-2xl"></i>
        </div>
      </div>
      
      <!-- Step 4: Contact Icon -->
      <div class="group relative" (click)="scrollToSection('contact')">
        <div class="flex items-center justify-center w-12 h-12 bg-red-600 opacity-50 scale-90 rounded-full transition-all duration-300 group-hover:opacity-100 group-hover:scale-110 cursor-pointer">
          <i class="fas fa-envelope text-white text-2xl"></i>
        </div>
      </div>
      
    </div>
  </div>
  
  
  <section id="AboutMe"  class="flex flex-col items-center section-content">
    <div class="flex flex-col items-center text-center justify-center mt-4">
      <h1 id="am" >About Me</h1>
      <div class="w-12 h-1 bg-red-500 rounded mt-2 mb-4"></div>
      <p class="text-white text-xl" id="mep">
        Hi, I'm Melvin James,from Bangalore, India.
        I'm a Tech Enthusiast who aspires to be a Full-stack developer.
        I'm currently pursuing my BCA degree and I'm passionate about leveraging technology
        to solve problems and am constantly exploring new tools and languages to expand my skillset.
        I thrive on the challenges that come with learning and applying new concepts,
        and I'm eager to continue growing in the field of computer science.
    </div>
    <div class="morebtn-container">
      <button class="morebtn fixed" (click)="scrollToSection('contact')">Say Hi <i class="fa-regular fa-hand"></i></button>
  </div>
  </section>
  <section id="education" class="section-content">
  <h1 class=" text-center" id="ed">Education</h1>
  <div class="education">
  <ol class="relative border-s border-gray-200 ">                  
      <li class="mb-10 ms-4 ">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white "></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2020</time>
          <h3 class=" font-semibold text-gray-900 dark:text-white">10th ICSE</h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">I completed my 1st to 10th grade at St. Germain's Academy <br>
             While this didn't directly impact my journey in computer science,<br> 
             it significantly developed my interpersonal and communication skills.</p>
      </li>
      <li class="mb-10 ms-4 ">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white "></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2022</time>
          <h3 class=" font-semibold text-gray-900 dark:text-white">2nd PUC CEBA</h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">I completed my 1st and 2nd PUC at St. Joseph's Pre-University College,<br> where I learned C++, HTML, SQL basics, <br>and foundational concepts in Accounts, Economics, and Business Studies.</p>
      </li>
      <li class="ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white "></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Now</time>
          <h3 class=" font-semibold text-gray-900 dark:text-white">BCA (Bachelor of Computer Applications)</h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">I am currently pursuing my BCA degree at Kristu Jayanti College.<br> I have learned C, Java, and Python, and have also studied <br>Software  Engineering ,Operating Systems, Git & GitHub,<br>and Data Structures & Algorithms in detail.</p>
      </li>
  </ol> 
  </div>   
  <div class="morebtn-container">
      <button class="morebtn" (click)="downloadResume()">Resume <i class="fa-solid fa-scroll"></i></button>
  </div>
  </section>
  <section id="hobbies" class="section-content">
  <h1 class="text-center text-7xl" id="mh">My Hobbies</h1>    
  <div class="hobbiecon">
  <ul class="space-y-4 text-white list-disc list-inside">
      <li class="text-white text-lg font-bold">
          Development Related
          <ol class="ps-5 mt-2 text-white  space-y-1 list-decimal list-inside">
              <li class="hli">Web Development using <span> Angular </span>and <span> React </span></li>
              <li class="hli">Game Development using <span>Unity</span></li>
              <li class="hli">Solvin problems on <span>Leetcode</span>and <span>Hackerrank</span></li>
              <li class="hli">Working on <span>Arduino</span> or <span> Raspberry Pi</span> automation</li>
              <li class="hli"><span>Python</span> Automation mini projects</li>
          </ol>
      </li>
      <li class="text-white text-lg font-bold">
          Online Hobbies
          <ol class="ps-5 mt-2 text-white space-y-1 list-decimal list-inside">
              <li class="hli">I love watching <span>Anime</span> and <span>Movies</span></li>
              <li class="hli">I Like reading <span>Mangas</span> and <span>Manwhas</span></li>
              <li class="hli">Playing Video Games like <span>God of War</span>, <span>Uncharted</span> and <span>GTA</span> </li>
          </ol>
      </li>
      <li class="text-white text-lg font-bold">
          Offline Hobbies
          <ol class="ps-5 mt-2 text-white  space-y-1 list-decimal list-inside">
              <li class="hli">I enjoy the occasional <span>Bike Rides</span> for the thrill</li>
              <li class="hli">I also like <span>Singing</span>, playing <span>Guitar</span> and <span>Keybord</span></li>
              <li class="hli">I try to hit the <span>GYM</span> atleast 3 times a week to stay <span>Active</span> and <span>Healthy</span></li>
              <li class="hli">I like to read self-help books like <span>"Atomic habits"</span> and <span>"Deep Work"</span></li>
          </ol>
      </li>
  </ul>
  </div>
  </section>
  <section class="text-gray-600 body-font relative section-content" id="contact">
          <form action="https://formspree.io/f/xnnakrka" method="POST"> 
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
              <h1 class="text-7xl mb-4" id="cm">Contact Me</h1>
              <p class="l1 text-white">Enter your datails to send me your message.</p>
            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
              <div class="flex flex-wrap -m-2">
                <div class="p-2 w-1/2">  
                  <div class="relative">    
                    <label for="name" class="leading-7 text-sm" id="namelab">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" class="w-full  bg-opacity-50 rounded border border-gray-300  focus:bg-white focus:ring-2  text-base outline-none text-black py-1 px-3 " required>
                  </div>
                </div>
                <div class="p-2 w-1/2">
                  <div class="relative">
                    <label for="email" class="leading-7 text-sm "id="mail">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter Your Email" class="w-full  bg-opacity-50 rounded border border-gray-300  focus:bg-white focus:ring-2  text-base outline-none text-black py-1 px-3 " required>
                  </div>
                </div>
                <div class="p-2 w-full">
                  <div class="relative">
                    <label for="message" class="leading-7 text-sm "id="mess">Message</label>
                    <textarea id="message" name="message" placeholder="Enter the Message you want to send" class="w-full  rounded border border-grey-300  focus:bg-white focus:ring-2  h-32 text-base outline-none text-black py-1 px-3 resize-none" required></textarea>
                  </div>
                </div>
                <div class="p-2 w-full" id="sendbtnc">
                  <button type="submit" class="flex mx-auto" id="sendbtn">Send <i id="sndicon" class="fa-regular fa-paper-plane"></i></button>
                </div>
                <div class="p-2 w-full pt-8 mt-8 border-t border-white-200 text-center">
                  <label class="text-white">melvin.mj576&#64;gmail.com</label>
                </div>   
              </div>
            </div>
          </div>
      </form>
      <div class="flex justify-center items-center">
      <button class="button" id="up" (click)="scrollToSection('AboutMe')">
        <svg class="svgIcon" viewBox="0 0 384 512">
          <path
            d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
          ></path>
        </svg>
      </button>
    </div>
  </section>
  