<section>
    <header class = "header">
       <div class="logo"><a class="Name">  <span><span style={{ color: '#FF0000' }}>&lt;</span>Melvin<span style={{ color: '#FF0000' }}>/</span>James<span style={{ color: '#FF0000' }}>&gt;</span></span></a>
    </div>
    
    <input type="checkbox" id ="check">
    <label for="check" class="icons">
        <i class="fa-solid fa-bars" id="menu"></i>
        <i class="fa-solid fa-xmark" id="close"></i>
    </label>
    <nav class="navbar">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" style="--i:0;">Home</a>
        <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"  style="--i:1;">Projects</a>
        <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" style="--i:3;">About</a>
    </nav>
    </header>
    </section>
