<section>
    <h1 id="mw" class="text-center text-5xl font-bold mt-[15vh] mb-2 sm:text-7xl sm:mb-10" style="color: #ff0000;">My Websites</h1>
    
    <div *ngFor="let project of projects; let i = index" 
         class="flex flex-col md:flex-row items-center gap-7 ustify-between min-h-[60%] mb-[15%] p-8 section-content bg-black"
         [ngClass]="{'md:flex-row-reverse': i % 2 === 1}">
  
      <!-- Project Image Section (switched for mobile view) -->
      <div class="md:w-1/2 w-full mb-8 md:mb-0 order-1 md:order-1" [ngClass]="{'md:ml-6': i % 2 === 0, 'md:mr-6': i % 2 === 1}">
        <img [src]="project.image" alt="{{ project.title }}" class="w-full h-auto rounded-3xl object-cover">
      </div>
  
      <!-- Project Details Section -->
      <div class="md:w-1/2 w-full mb-8 md:mb-0 flex flex-col items-center text-center order-2 md:order-2">
        <h2 class="sm:text-4xl text-2xl font-bold mb-4" style="color: #ff0000;">{{ project.title }}</h2>
        <p class="mb-4 text-white">{{ project.description }}</p>
        
        <div class="space-x-14 flex justify-center">
          <a 
            href="{{ project.repoLink }}" 
            target="_blank" 
            class="flex items-center bg-white text-black py-2 px-4 rounded hover:bg-gray-300 transition transform hover:-translate-y-1 hover:scale-105"
          >
            <i class="fas fa-code mr-2"></i> 
            Source Code
          </a>
          <a 
            href="{{ project.link }}" 
            target="_blank" 
            class="flex items-center bg-white text-black py-2 px-4 rounded hover:bg-gray-300 transition transform hover:-translate-y-1 hover:scale-105"
          >
            <i class="fas fa-globe mr-2"></i> 
            Live Website
          </a>
        </div>
      </div>
    </div>
  </section>