<div class="max-w-4xl mx-auto p-6">
    <!-- Blog List -->
  
      <h1 class="mt-[10vh] text-7xl font-bold mb-8 text-center text-[#ff0000] head  section-content">My Blogs</h1>
      <div *ngFor="let post of posts" class="bg-white shadow-md rounded-lg p-6 mb-6 section-content">
        <h2 class="text-2xl font-semibold text-gray-800 mb-2">{{ post.title }}</h2>
        <p class="text-gray-600 mb-4">{{ post.summary }}</p>
        <a [href]="post.link" target="_blank" ><button 
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" 
          >
          Read More
        </button></a>
      </div>
    </div>
  

  