@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(0, 0, 0);
}
html {
    scroll-behavior: smooth;
}
/* styles.css */

/* Hide default browser cursor globally on desktop to only show the custom pointer */
@media (min-width: 769px) {
  *, *::before, *::after {
    cursor: none !important;
  }
}

